/* ----------------------------- */
/* ---------- Header ----------- */
/* ----------------------------- */

.header {
    border-top: 5px solid #58647a;
    padding-bottom: 7px;
}

.header_long {
    border-top: 5px solid #58647a;
    border-bottom: 15px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 130px;
    background-image: linear-gradient(to top, rgba(165, 198, 255, 0.47), rgba(165, 198, 255, 0.47)), url(../img/chicago-megapolis.webp);
    background-position: center, center;
}

.header-long .header__bg {
    height: 104px;
}

.header > .menu {
    background-color: rgba(191, 194, 200, 0.41);
    border-bottom: 4px solid rgba(88, 100, 122, 0.21);
    padding: 8px 0;
}

.header .logo {
    display: block;
}

.header .logo__img {
    width: 100%;
}

.header .nav {
    display: flex;
}

.header .nav li:not(:last-child) {
    margin-right: 30px;
}

.header .nav a {
    display: block;
    color: #3f4b60;
    font-size: 17px;
    font-weight: 700;
}

.header .nav a:hover {
    color: #081d42;
    transform: scale(1.1);
}

.header .call-btn {
    margin-left: auto;
}

.header__menu {
    font-size: 26px;
    color: #3f4b60;
}

.header .offer {
    margin-top: 98px;
    max-width: 524px;
}

.header .offer h1 {
    color: #081d42;
    font-size: 58px;
}

.header .offer p {
    margin: 13px 0 27px;
    font-size: 29px;
    font-weight: 100;
}

.offer .socials {
    display: flex;
    padding: 8px 15px;
    width: 166px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.66);
}

.offer .socials .item:not(:last-child) {
    margin-right: 20px;
}

.offer .item__link {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 2px solid;
    line-height: 29px;
    text-align: center;
}

.offer .item__link_facebook {
    color: #3d6ca8;
}

.offer .item__link_facebook:hover {
    color: #fff;
    background-color: #3d6ca8;
    border-color: #3d6ca8;
}

.offer .item__link_twitter {
    color: #43c9fd;
}

.offer .item__link_twitter:hover {
    color: #fff;
    background-color: #43c9fd;
    border-color: #43c9fd;
}

.offer .item__link_telegram {
    color: #25a3d4;
}

.offer .item__link_telegram:hover {
    color: #fff;
    background-color: #25a3d4;
    border-color: #25a3d4;
}

.trust {
    background-color: #f1f1f3;
    padding: 53px 0 0px;
    box-shadow: inset 0 -23px 0 0 rgb(255, 255, 255);
}

.trust__header {
    text-align: center;
    color: #081d42;
    margin-bottom: 42px;
}

.trust .item > .item__ico {
    width: 119px;
    height: 119px;
    border-radius: 50%;
    background-color: #c8cbdb;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.trust .item > h5 {
    color: #081d42;
    text-align: center;
    margin: 18px 0 11px;
}

.trust .item > p {
    text-align: center;
}

.trust__btn {
    font-size: 16px;
    padding: 13px 39px 11px;
    margin: 77px auto 0;
}

.trust__btn:hover {
    background-color: #fff;
}

.benefits {
    padding: 79px 0 95px;
}

.benefits .item > .item__ico {
    display: block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: #102e62;
    margin: 0 auto;
    text-align: center;
    line-height: 86px;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}

.benefits .item > h3 {
    color: #081d42;
    text-align: center;
    font-weight: 100;
    margin: 6px 0 12px;
}

.benefits .item > p {
    text-align: center;
}

.about {
    background-image: linear-gradient(to top, rgba(96, 108, 129, 0.94), rgba(96, 108, 129, 0.94)), url(../img/mission-news-bg.webp);
    background-position: center, center;
    padding: 38px 0 43px;
    color: #fff;
}

.about h4 {
    opacity: 0.4;
}

.about h4::after {
    background-color: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 10px 0 21px;
    opacity: 0.1;
}

.about .mission__text:not(:first-child) {
    margin-top: 20px;
}

.about .mission__text {
    font-size: 15px;
    opacity: 0.67;
}

.about .more-btn {
    border: 2px solid #fff;
    color: #fff;
    margin-top: 37px;
    opacity: 0.69;
    padding: 11px 28px;
    font-size: 16px;
    background-color: transparent;
}

.about .more-btn:hover {
    background-color: #fff;
    color: #606c81;
}

.about .new {
    display: flex;
}

.about .new__separator:not(:last-child) {
    margin-bottom: 18px;
}

.about .new__separator {
    width: 100%;
    max-width: 270px;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
    margin-top: 13px;
}

.about .new__img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: center;
}

.about .new .info {
    margin-left: 10px;
}

.about .new__title {
    font-size: 12.5px;
    font-weight: 700;
    opacity: 0.75;
    margin-top: -2px;
    max-width: 180px;
}

.about .new__time {
    display: block;
    font-size: 10.42px;
    font-weight: 100;
    opacity: 0.43;
    margin: 12px 0 0 4px;
}

.navigation {
    background-color: #3a4456;
    padding: 40px 0 43px;
}

.navigation .tab__header {
    margin-bottom: 16px;
}

.navigation .tab__header > a {
    color: #ffffff;
    opacity: 0.66;
}

.navigation .tab__item:not(:last-child) {
    margin-bottom: 4px;
}

.navigation .tab__item > a{
    color: #ffffff;
    opacity: 0.46;
}

.footer {
    background-color: #1f2531;
    color: #fff;
    padding: 35px 0 40px;
    border-bottom: 18px solid #58647a;
    font-size: 12px;
    font-weight: 100;
}

.footer .logo__img {
    margin-top: -35px;
}

.footer .info, .footer .address, .footer .name, .footer .credits {
    opacity: 0.52;
}

.footer .address {
    font-style: normal;
}

.footer .info {
    margin-bottom: 15px;
}

.footer .name {
    display: flex;
    margin-bottom: 24px;
}

.footer .name__ico {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    display: block;
    font-size: 15px;
    border: 1px solid;
    flex-shrink: 0;
    margin-right: 10px;
}

.footer .name__text {
    max-width: 150px;
}

.footer .credits a {
    color: #fff;
    text-decoration: underline;
}

.footer .call-btn {
    margin-left: auto;
}

.footer .call-btn:hover {
    background-color: transparent;
}

.subheader {
    background-color: #fafafb;
    padding: 64px 0 65px;
}

.subheader h1 {
    color: #081d42;
    margin-left: -2px;
    margin-bottom: 12px;
}

.subheader__main {
    color: #49556b;
    text-decoration: underline;
}

.subheader__current {
    color: #7e838d;
}

.subheader .list {
    display: flex;
}

.subheader .item {
    color: #a1a6af;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid transparent;
    padding: 12px 15px;
}

.subheader .item:hover {
    color: rgba(184, 28, 49, 0.705);
}

.subheader .item_active {
    border: 2px solid #b81c31;
    color: #b81c31;
}

.subheader .item_active:hover {
    color: #b81c31;
}

.map .info {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: rgba(31, 37, 49, 0.75);
}

.subheader .item_withDesc {
    text-align: left;
}

.subheader .item_withDesc .item__desc {
    font-weight: 300;
    font-size: 13px;
}

.service-subheader_first {
    color: #fff;
    background-image: linear-gradient(to top, rgba(88, 94, 122, 0.69), rgba(88, 94, 122, 0.69)), url(../img/Local-Business-Insurance-Agents.webp);
    padding: 42px 0 39px;
}

.service-subheader_first .img {
    background-image: linear-gradient(to top, rgba(88, 94, 122, 0.2), rgba(88, 94, 122, 0.2)), url(../img/services-legal.png);
    border-radius: 50%;
    border: 7px solid rgba(255, 255, 255, 0.39);
    width: 193px;
    height: 193px;
}

.service-subheader_first h3{
    font-size: 25px;
    margin-bottom: 18px;
    max-width: 300px;
}

.service-subheader_first p {
    font-size: 15px;
}

.service-subheader_first .nav {
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.48);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 25px 20px;
}

.service-subheader_first .link {
    color: #fff;
}

.service-subheader_first .link:hover {
    text-decoration: underline;
}

.service-subheader_first .link:not(:last-child) {
    margin-bottom: 14px;
}

.service-subheader_first .link::before {
    content: "→";
    display: inline-block;
    margin-right: 7px;
    text-decoration: none;
}

.service-subheader_second {
    padding: 57px 0 54px;
}

.service-subheader_second .description h2 {
    color: #081d42;
    margin-left: -2px;
    margin-bottom: 25px;
}

.service-subheader_second .description p {
    font-size: 15px;
}

.service-subheader_second .description p:not(:last-child) {
    margin-bottom: 19px;
}

.service-subheader_second .description p:last-child {
    margin-bottom: 35px;
}

.service-subheader_second .advice {
    border: 2px solid rgba(88, 95, 107, 0.17);
    border-radius: 5px;
    padding: 25px 30px;
    max-width: 470px;
    background-image: url(../img/Conference-Call.png);
    background-repeat: no-repeat;
    background-position: right 13px bottom 15px;
}

.service-subheader_second .advice h6 {
    font-size: 16px;
    margin-bottom: 16px;
}

.service-subheader_second .advice button {
    color: #b81c31;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #b81c31;
    padding: 11px 17px;
    display: inline-block;
}

.service-subheader_second .advice button:hover {
    color: #fff;
    background-color: #b81c31;
}

.service-subheader_second .advice a {
    color: #585f6b;
    font-weight: 700;
    margin-left: 16px;
}

.service-subheader_second .advice p {
    font-size: 12px;
    color: #888d95;
    max-width: 270px;
    margin-top: 15px;
}

.service-subheader_second .nav h4 {
    color: #58647a;
    opacity: 0.68;
    margin-left: 24px;
    margin-bottom: 42px;
}

.service-subheader_second .nav a {
    display: flex;
    align-items: baseline;
    padding: 16px 25px 14px;
    color: #747487;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid rgba(212, 212, 225, 0.72);
}

.service-subheader_second .nav a:first-of-type {
    border-top: 1px solid rgba(212, 212, 225, 0.72);
}

.service-subheader_second .nav a::before {
    display: block;
    content: "";
    width: 11px;
    height: 11px;
    background-color: #aeaeb9;
    border-radius: 2px;
    margin-right: 18px;
}