@media screen and (max-width: 1200px){
    
    .call-btn {
        font-size: 13px;
        padding: 9px 7px 10px;
    }

    .logo__img {
        width: 215px;
    }

    .header .nav {
        display: flex;
    }

    .header .nav a {
        display: block;
        color: #3f4b60;
        font-size: 15px;
        font-weight: 700;
    }

    .header .offer h1 {
        font-size: 51px;
    }
    
    .header .offer p {
        font-size: 24px;
    }
}

@media screen and (max-width: 992px){

    .call-btn {
        padding: 9px 17px 10px;
    }

    .about .news-list {
        margin-left: 30px;
    }

    .about .new__title {
        max-width: 200px;
    }

    .subheader {
        text-align: center;
    }

    .subheader h1 {
        margin-left: 0px;
    }

    .service-subheader_second .nav h4 {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 768px){

    .about .news-list {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navigation .tab__header {
        text-align: center;
    }
    .navigation .tab__item {
        text-align: center;
    }
    
    .footer .logo__img {
        display: block;
        margin: 0 auto;
    }

    .footer .info, .address, .credits {
        text-align: center;
    }

    .footer .name {
        justify-content: center;
    }

    .footer .call-btn {
        margin: 0;
        margin: auto;
    }

    .subheader .list {
        flex-direction: column;
    }

    .subheader .item:not(:last-child) {
        margin-bottom: 15px;
    }

    .service-subheader_first h3 {
        text-align: center;
    }

    .service-subheader_first p {
        text-align: center;
    }
}

@media screen and (max-width: 540px){

    body {
        font-size: 13px;
    }
    
    h1 {
        font-size: 29px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    h6 {
        font-size: 16px;
    }

    .header .call-btn {
        margin: 0;
        margin-left: auto;
    }

    .call-btn {
        font-size: 11px;
        padding: 9px 3px 10px;
    }

    .header .offer h1 {
        font-size: 31px;
    }
    
    .header .offer p {
        margin: 13px 0 27px;
        font-size: 18px;
    }

    .about .mission__text {
        font-size: 13px;
    }
    
    .about .news-list {
        margin-left: 0px;
    }

    .about .new__title {
        max-width: initial;
    }

    .about .new__separator {
        max-width: initial;
    }
}