/* ----------------------------- */
/* ------- SPECIFICATION ------- */
/* ----------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #404048;
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 37.5px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 23px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 19px;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.4s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
{
	outline: none;
}

ul {
    list-style-type: none;
}

.btn {
    display: block;
    border: none;
    border-radius: 0px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

.green-btn {
    color: #fff;
    background-color: #1cb883;
    border: 1px solid transparent;
    border-bottom: 4px solid #149d6f;
}

.green-btn:hover {
    background-color: #fff;
    border: 1px solid #149d6f;
    border-bottom: 4px solid #149d6f;
    color: #1cb883;
}

.call-btn {
    font-size: 13px;
    padding: 9px 17px 10px;
}

.call-btn i {
    color: #46e6b0;
}

.red-color {
    color: #b81c31;
}

.ttu {
    text-transform: uppercase;
}