/* ----------------------------- */
/* ------- SPECIFICATION ------- */
/* ----------------------------- */

* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #404048;
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 37.5px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 23px;
}

h5 {
	font-size: 23px;
}

h6 {
	font-size: 19px;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.4s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
{
	outline: none;
}

ul {
    list-style-type: none;
}

.btn {
    display: block;
    border: none;
    border-radius: 0px;
    font-family: inherit;
    font-weight: 700;
}

.green-btn {
    color: #fff;
    background-color: #1cb883;
    border-bottom: 6px solid #149d6f;
}

.red-color {
    color: #b81c31;
}